<p id="notice"><%= notice %></p>

<%= @publisher.likes.count %>
<% @publisher.tests.each do |test| %>
<%= test.title %>
<% end %>

<%= link_to 'Like', like_publisher_path(@publisher) %>
<%= link_to 'Dislike', dislike_publisher_path(@publisher) %>
<%= link_to 'Edit', edit_publisher_path(@publisher) %> |
<%= link_to 'Back', publishers_path %>
