<p id="notice"><%= notice %></p>

<%= @publisher.likes.count %>
<%= image_tag @publisher.avatar.url %>
<% @publisher.tests.each do |test| %>
<%= test.title %>
<%= image_tag test.picture.url %>
<% end %>
<% unless @publisher.liked? current_user %>
	<%= form_for [@publisher, Like.new] do |f| %>
		<%= f.submit %>
	<% end %>
<% else %>
	<%= form_for [@publisher, Like.new], method: :delete do |f| %>
		<%= f.submit %>
	<% end %>
<% end %>


<%= link_to 'Edit', edit_publisher_path(@publisher) %> |
<%= link_to 'Back', publishers_path %>
